{% load static %}
{% block content %}
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/cvat.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<script>

    counter = 0;
    $(document).ready(function () {
      var framenum = document.getElementById("frameNumber");
      framenum.addEventListener("keyup", function(event){
        if(event.keyCode == 13) {
           counter = document.getElementById("frameNumber").value;
           if(counter != '') {
              document.getElementById("imageId").src = text[counter];
           }
        }
      });
    });

    function uploadImages() {
      var form = $('#formData')[0];
       var x = document.getElementById("video_folders").selectedIndex;
       var data = document.getElementsByTagName("option")[x].value;
       var data = new FormData(form);
       console.log(data);
          $.ajax({
              type: "POST",
              enctype: 'multipart/form-data',
              url: "http://127.0.0.1:8000/upload/",
              data: data,
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (datas) {
                  console.log("SUCCESS");
                  text = datas['context'];
                  console.log(text);
                  displayImages(text);
                  addProcessCompleteMessage();
              },

              error: function (e) {
                  console.log("Error");
              }
          });
    }

    function displayImages(text){
      document.getElementById("imageId").src = text[0];
      document.getElementById("frameNumber").value = counter;
    }

    function jumpToFrame() {
        counter = document.getElementById("frameNumber").value;
        document.getElementById("imageId").src = text[counter];

    }

    function prevFunction() {
      counter--;
      document.getElementById("imageId").src = text[counter];
      if( counter == 0) {
        document.getElementById("prev").disabled = true;
      }
      document.getElementById("frameNumber").value = counter;
    }
    function nextFunction() {
      counter++;
      document.getElementById("imageId").src = text[counter];
      document.getElementById("prev").disabled = false;
        if( counter == text.length - 1) {
        document.getElementById("next").disabled = true;
        }
    document.getElementById("frameNumber").value = counter;
    }

    function drawBoxes() {
        $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/drawboxes",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log("SUCCESS " + data);
                  text = data['context'];
                  displayImages(text);
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });

    }

    function downloadURI(uri, name)
    {
        var link = document.createElement("a");
        // If you don't know the name or want to use
        // the webserver default set name = ''
         link.setAttribute('download', name);
         link.href = uri;
         document.body.appendChild(link);
         link.click();
         link.remove();
    }

    function makeBoundinBoxVideo() {
    $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/makeBoundingBoxesVideo",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log(data)
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });
    }

    function makePostureVideo() {
    $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/makePostureVideo",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log(data);
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });
    }

    function makePosPoints_BoxesVideo() {

    $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/makeMergedVideo",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log(data);
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });

    }

    function drawPosturePoints() {
      $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/drawPosturePoints",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log("SUCCESS " + data);
                  text = data['context'];
                  displayImages(text);
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });
    }

    function displaySegmentation() {
     $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/displaySegmentation",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log("SUCCESS " + data);
                  text = data['context'];
                  displayImages(text);
                  console.log(text);
                  splittext = text[0].split("/");
                  lengthoftext = splittext.length;
                  seg_frame =  splittext[lengthoftext-1];
                  split_segframe = seg_frame.split(".");
                  document.getElementById("segmentationFrameNumber").value = split_segframe[0];
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });

    }

    function exportBoundingBoxes() {

      $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/exportBoundingBoxes",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              success: function (data) {
                  console.log("SUCCESS " + data);
                  filepath = data['filepath'];
                  filename = data['filename'];
                  downloadURI(filepath, filename)
              },
              error: function (e) {
                  console.log("Error");
              }
          });
      }

    function exportPosturePoints() {

      $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/exportPosturePoints",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              success: function (data) {
                  console.log("SUCCESS " + data);
                  filepath = data['filepath'];
                  filename = data['filename'];
                  downloadURI(filepath, filename)
              },
              error: function (e) {
                  console.log("Error");
              }
          });
      }

    function exportSegmentation() {

        $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/exportSegmentation",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              success: function (data) {
                  console.log("SUCCESS " + data);
                  filepath = data['filepath'];
                  filename = data['filename'];
                  downloadURI(filepath, filename)
              },
              error: function (e) {
                  console.log("Error");
              }
          });

    }

    function makeBehaviourAnnotationsVideo() {
    $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/makeBehaviorAnnotationsVideo",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log(data);
                  addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });
    }

    function getListOfVideos() {
      $.ajax({
              type: "GET",
              url: "http://127.0.0.1:8000/getListOfVideos",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              beforeSend: function() {
                addProcessAwaitingMessage();
              },
              success: function (data) {
                  console.log("SUCCESS " + data);
                  console.log(data['context']);

                  var select = document.getElementById("video_folders"), arr = data['context'];
                   for( var i = 0; i < arr.length; i++) {
                     var option = document.createElement("OPTION"), txt = document.createTextNode(arr[i]);
                     option.appendChild( txt );
                     select.insertBefore( option, select.lastChild );
                   }
              addProcessCompleteMessage();
              },
              error: function (e) {
                  console.log("Error");
              }
          });
    }

    function addProcessAwaitingMessage() {
        document.getElementById("msg").innerHTML = "Processing... please wait";
    }

    function addProcessCompleteMessage() {
        document.getElementById("msg").innerHTML = "Processing Done!";
        setTimeout(function() {
          document.getElementById("msg").innerHTML= "";
        }, 3000);

    }

  </script>
<body>

<nav id="mainpart" class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="home">
    <img src="{% static 'LogosAndButtons/AVTLogo.png' %}" alt="">
  </a>
  <p id="msg" class="d-inline-block text-primary"></p>
  <button id="refresh" name="refresh" onclick="getListOfVideos()">Refresh</button>
  <form method="post" enctype="multipart/form-data" id="formData">
    {% csrf_token %}
    <select name="videos" id="video_folders">
      <option value="default">default</option>
    </select>
    <button id="btnSubmit" type="button" onclick="uploadImages()">Upload files</button>
  </form>
</nav>


<div class = "subheader">
  <button type='button' class = 'framebutton framebutton1' id="prev" disabled onclick="prevFunction()">Prev</button>
  <input type="number" id="frameNumber" class='frameTextbox' name="phone" placeholder="" pattern="[0-9]{3}">
  <button type='button' class = 'framebutton framebutton1' id="next" onclick="nextFunction()">Next</button>
</div>
<div class="canvasdiv">
  <img src="" style="width:81%; height:99%;" id="imageId" alt="image" class="d-inline-block">
  <div class="btn-group bg-light">
    <div class="d-inline">
      <input type="number" id="segmentationFrameNumber" class="frameTextbox inline" name="phone" placeholder="" pattern="[0-9]{3}">
      <p class="d-inline-block text-primary">Segmentation Frame</p>
      <br><button type="button" class="btn-primary d-block bg-info btn-lg btn-block" onclick="displaySegmentation()">Draw Segmentation</button>
      <br>
      <br>
      <button type="button" class="btn-primary d-inline-block bg-info btn-lg btn-block" onclick="drawBoxes()">Draw Bounding Boxes</button>
      <button type="button" class="btn-primary d-inline-block bg-dark btn-lg btn-block" onclick="makeBoundinBoxVideo()">Bounding Boxes Video</button>
      <br>
      <br>
      <button type="button" class="btn-primary d-inline-block bg-info btn-lg btn-block" onclick="drawPosturePoints()">Draw Pos_Points</button>
      <button type="button" class="btn-primary d-inline-block bg-dark btn-lg btn-block" onclick="makePostureVideo()">Pos_Points Video</button>
      <button type="button" class="btn-primary d-inline-block bg-dark btn-lg btn-block" onclick="makePosPoints_BoxesVideo()">Boxes + Pos_Points Video</button>
      <button type="button" class="btn-primary d-inline-block bg-dark btn-lg btn-block" onclick="makeBehaviourAnnotationsVideo()">Behaviour_Annotations</button>
    </div>
  </div><br>

  <!--<div class='btn-group'>
    <button class = "button" >Draw Bounding Boxes</button>
    <button class = "button" >Export Bounding Boxes</button>
    <button class = "button" >Draw Segmentation</button>
    <input type="number" id="frameNumber" class='frameTextbox' name="phone" placeholder="" pattern="[0-9]{3}">
    <button class = "button" >Export Segmentation</button>
    <button class = "button" >Draw Pose-Estimation</button>
    <button class = "button" >Export Pose-Estimation</button>
    <button class = "button" >Export Video</button>

</div>-->
</div>
</body>
</html>
{% endblock %}
